root = true

[*]
trim_trailing_whitespace = true
ij_continuation_indent_size = 4

[*.{kt,kts}]
ktlint_code_style = android
max_line_length = 100
insert_final_newline = false
ij_kotlin_imports_layout = *
ij_kotlin_name_count_to_use_star_import = 2147483647
ij_kotlin_name_count_to_use_star_import_for_members = 2147483647
